---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Nunito', Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$title-font-family: 'Montserrat', serif;
$brand-font-family: 'Montserrat', serif;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F5F5F5;
$brand-color:      #1E77E2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-mobile:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin transition($options) {
 -moz-transition: #{$options};
 -o-transition: #{$options};
 -webkit-transition: #{$options};
 transition: #{$options};
}



// Custom fonts
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/nunito.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/montserrat.woff2) format('woff2');
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
