---
layout: default
---
<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <article>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.tags %} • {{ post.tags|join: ', ' }}{% endif %}</p>

        <p>
          {{ post.excerpt }}
        <p>
        <p><a href="{{ post.url }}">Read more »</a></p>
      </article>
    </li>
    {% endfor %}
  </ul>
</div>
