/**
 * Reset some basic elements
 */
body, b, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0px;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: .5rem;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    /*&:visited {
        color: darken($brand-color, 10%);
    }*/

    &:hover {
        @include transition('all .2s ease-in');
        color: darken($brand-color, 8%);
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: transparent;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

code.highlighter-rouge {
    color: #ff2160;
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(940px - (#{$spacing-unit} * 2));
    max-width:         calc(940px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-mobile) {
        max-width: -webkit-calc(340px - (#{$spacing-unit}));
        max-width:         calc(340px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 4;
        padding-left: $spacing-unit / 4;
    }
}



/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        @include media-query($on-mobile) {
            width: 24px;
            height: 24px;
        }

        path {
            fill: $grey-color;
        }
    }

    &:hover svg path {
      @include transition('all .2s ease-in');
      fill: $brand-color;
    }
}
